<p style="color: green"><%= notice %></p>

<h1>Microposts</h1>

<div id="microposts">
  <% @microposts.each do |micropost| %>
    <div class="row">
      <div class="card">
        <div class="card-content">
          <%= micropost.content %>
          <%= link_to "Source", micropost, :style => "float: right" %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<%= link_to "New post", new_micropost_path %>