<p style="color: green"><%= notice %></p>

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Post</span>
          <p><%= render @micropost %></p>
        </div>
        <div class="card-action">
          <%= link_to "Edit this micropost", edit_micropost_path(@micropost) %>
          <%= link_to "Back to microposts", microposts_path %>
        </div>
      </div>
    </div>
  </div>